build
cubrid-python-*
tests2/function_result/
tests2/out
tests/out
tests/python2_result/
tests/python3_result/
tests2/tests2.result
CUBRID_Python.egg-info/
dist/
temp_release/
tests/*.result
cubrid_ext/version.h
tests3/__pycache__/
